<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Notepad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Notepad.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>light</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value />
            </setting>
            <setting name="Mode" serializeAs="String">
                <value />
            </setting>
            <setting name="menuStripMode" serializeAs="String">
                <value />
            </setting>
            <setting name="menuStripColor" serializeAs="String">
                <value />
            </setting>
            <setting name="scrollBars" serializeAs="String">
                <value>Vertical</value>
            </setting>
            <setting name="statusBarColumns" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="statusBarWordCounter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statusBarCharCounter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statusBarTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lightMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="darkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="blueMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pinkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="oliveMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colorMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="followStrip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lightStrip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="darkStrip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="blueStrip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pinkStrip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="oliveStrip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colorStrip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="followTextBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="columnOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="twelveHours" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="twentyFourHours" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timerOff" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="verticalScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="horizontalScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bothScroll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="noneScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statusBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="windowPosition" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="toolStrip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="toolColumnOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="capsTracker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="contextMenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="textBoxFollowStripMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="textBoxFollowStatusBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stripMenuFollowTextBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stripMenuFollowStatusBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statusBarFollowTextBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statusBarFollowStripMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lightContext" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="darkContext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="blueContext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pinkContext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="oliveContext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colorContext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="followTextBoxContext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="followStripMenuContext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="followToolbarContext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lightToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="darkToolbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="blueToolbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pinkToolbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="oliveToolbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colorToolbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="followTextBoxToolbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="followStripMenuToolbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="followContextToolbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="followContextTextBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="followToolbarTextBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="followContextStripMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="followToolbarStripMenu" serializeAs="String">
                <value>False</value>
            </setting>
        </Notepad.Properties.Settings>
    </userSettings>
</configuration>